{
  "openapi": "3.0.3",
  "info": {
    "title": "Atar API - documents Module",
    "version": "1.0.0",
    "description": "API documentation for the documents module of the Atar property management platform."
  },
  "servers": [
    {
      "url": "https://api.goatar.com/api-management/",
      "description": "Production API"
    }
  ],
  "paths": {
    "rf/files": {
      "post": {
        "operationId": "post_rf_files",
        "summary": "POST rf/files",
        "tags": [
          "documents"
        ],
        "responses": {
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "image": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "message": "The given data was invalid.",
                      "errors": {
                        "image": [
                          "الحقل image مطلوب."
                        ]
                      }
                    },
                    "summary": "Error response with validation errors"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "examples": {
                "default": {
                  "value": {},
                  "summary": "Example request body"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "tenantHeader": []
          }
        ]
      }
    },
    "rf/files/999": {
      "delete": {
        "operationId": "delete_rf_files_999",
        "summary": "DELETE rf/files/999",
        "tags": [
          "documents"
        ],
        "responses": {
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "RfFile]  not Found."
                    },
                    "summary": "Error response with validation errors"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "tenantHeader": []
          }
        ]
      }
    },
    "rf/excel-sheets": {
      "post": {
        "operationId": "post_rf_excel_sheets",
        "summary": "POST rf/excel-sheets",
        "tags": [
          "documents"
        ],
        "responses": {
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "file": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "rf_community_id": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "message": "The given data was invalid.",
                      "errors": {
                        "file": [
                          "الحقل الملف مطلوب."
                        ],
                        "rf_community_id": [
                          "الحقل rf community id مطلوب."
                        ]
                      }
                    },
                    "summary": "Error response with validation errors"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "examples": {
                "default": {
                  "value": {},
                  "summary": "Example request body"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "tenantHeader": []
          }
        ]
      }
    },
    "rf/excel-sheets/land": {
      "post": {
        "operationId": "post_rf_excel_sheets_land",
        "summary": "POST rf/excel-sheets/land",
        "tags": [
          "documents"
        ],
        "responses": {
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "rf_community_id": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "file": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "message": "The given data was invalid.",
                      "errors": {
                        "rf_community_id": [
                          "الحقل rf community id مطلوب."
                        ],
                        "file": [
                          "الـ الملف يجب أن يكون من ملفا."
                        ]
                      }
                    },
                    "summary": "Error response with validation errors"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "default": {
                  "value": {
                    "file": "test.xlsx",
                    "type": "land"
                  },
                  "summary": "Example request body"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "tenantHeader": []
          }
        ]
      }
    },
    "rf/excel-sheets/leads": {
      "post": {
        "operationId": "post_rf_excel_sheets_leads",
        "summary": "POST rf/excel-sheets/leads",
        "tags": [
          "documents"
        ],
        "responses": {
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "file": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "message": "The given data was invalid.",
                      "errors": {
                        "file": [
                          "الـ الملف يجب أن يكون من ملفا.",
                          "يجب أن يكون الحقل ملفًا من نوع : csv, xls, xlsx, ods."
                        ]
                      }
                    },
                    "summary": "Error response with validation errors"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "default": {
                  "value": {
                    "file": "test.xlsx",
                    "type": "leads"
                  },
                  "summary": "Example request body"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "tenantHeader": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "tenantHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Tenant"
      }
    }
  },
  "security": [
    {
      "bearerAuth": [],
      "tenantHeader": []
    }
  ]
}