{
  "openapi": "3.0.3",
  "info": {
    "title": "Atar API - properties Module",
    "version": "1.0.0",
    "description": "API documentation for the properties module of the Atar property management platform."
  },
  "servers": [
    {
      "url": "https://api.goatar.com/api-management/",
      "description": "Production API"
    }
  ],
  "paths": {
    "rf/communities": {
      "post": {
        "operationId": "post_rf_communities",
        "summary": "POST rf/communities",
        "tags": [
          "properties"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "null"
                        },
                        "country": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "name": {
                              "type": "string"
                            },
                            "code": {
                              "type": "string"
                            }
                          }
                        },
                        "currency": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "name": {
                              "type": "string"
                            },
                            "code": {
                              "type": "string"
                            }
                          }
                        },
                        "city": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        },
                        "district": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        },
                        "amenities": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "map": {
                          "type": "null"
                        },
                        "images": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "documents": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "buildings_count": {
                          "type": "integer"
                        },
                        "units_count": {
                          "type": "integer"
                        },
                        "requests_count": {
                          "type": "integer"
                        },
                        "total_income": {
                          "type": "integer"
                        },
                        "sales_commission_rate": {
                          "type": "string"
                        },
                        "rental_commission_rate": {
                          "type": "string"
                        },
                        "product_code": {
                          "type": "null"
                        },
                        "license_number": {
                          "type": "null"
                        },
                        "license_issue_date": {
                          "type": "null"
                        },
                        "license_expiry_date": {
                          "type": "null"
                        },
                        "record_payments": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "additional_payments": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "completion_percent": {
                          "type": "integer"
                        },
                        "allow_cash_sale": {
                          "type": "integer"
                        },
                        "allow_bank_financing": {
                          "type": "integer"
                        },
                        "listed_percentage": {
                          "type": "integer"
                        },
                        "is_market_place": {
                          "type": "null"
                        },
                        "is_buy": {
                          "type": "integer"
                        },
                        "community_marketplace_type": {
                          "type": "string"
                        },
                        "is_off_plan_sale": {
                          "type": "null"
                        }
                      }
                    },
                    "meta": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                },
                "examples": {
                  "success": {
                    "value": {
                      "code": 200,
                      "message": "تم انشاء المشروع بنجاح",
                      "data": {
                        "id": 15,
                        "name": "Test Community 1776012520993spvzx",
                        "description": null,
                        "country": {
                          "id": 1,
                          "name": "المملكة العربية السعودية",
                          "code": "SA"
                        },
                        "currency": {
                          "id": 1,
                          "name": "ريال سعودي",
                          "code": "SAR"
                        },
                        "city": {
                          "id": 1,
                          "name": "الرياض"
                        },
                        "district": {
                          "id": 1,
                          "name": "الدرعية"
                        },
                        "amenities": [],
                        "map": null,
                        "images": [],
                        "documents": [],
                        "buildings_count": 0,
                        "units_count": 0,
                        "requests_count": 0,
                        "total_income": 0,
                        "sales_commission_rate": "0.00",
                        "rental_commission_rate": "0.00",
                        "product_code": null,
                        "license_number": null,
                        "license_issue_date": null,
                        "license_expiry_date": null,
                        "record_payments": [],
                        "additional_payments": [],
                        "completion_percent": 0,
                        "allow_cash_sale": 0,
                        "allow_bank_financing": 0,
                        "listed_percentage": 0,
                        "is_market_place": null,
                        "is_buy": 0,
                        "community_marketplace_type": "rent",
                        "is_off_plan_sale": null
                      },
                      "meta": []
                    },
                    "summary": "Successful response"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "country_id": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "currency_id": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "city_id": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "district_id": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "message": "The given data was invalid.",
                      "errors": {
                        "name": [
                          "الحقل الاسم مطلوب."
                        ],
                        "country_id": [
                          "الحقل country id مطلوب."
                        ],
                        "currency_id": [
                          "الحقل currency id مطلوب."
                        ],
                        "city_id": [
                          "الحقل city id مطلوب."
                        ],
                        "district_id": [
                          "الحقل district id مطلوب."
                        ]
                      }
                    },
                    "summary": "Error response with validation errors"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "country_id": {
                    "type": "integer"
                  },
                  "currency_id": {
                    "type": "integer"
                  },
                  "city_id": {
                    "type": "integer"
                  },
                  "district_id": {
                    "type": "integer"
                  }
                }
              },
              "examples": {
                "default": {
                  "value": {
                    "name": "Test Community 1776012520993spvzx",
                    "country_id": 1,
                    "currency_id": 1,
                    "city_id": 1,
                    "district_id": 1
                  },
                  "summary": "Example request body"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "tenantHeader": []
          }
        ]
      }
    },
    "rf/communities/15": {
      "put": {
        "operationId": "put_rf_communities_15",
        "summary": "PUT rf/communities/15",
        "tags": [
          "properties"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "null"
                        },
                        "country": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "name": {
                              "type": "string"
                            },
                            "code": {
                              "type": "string"
                            }
                          }
                        },
                        "currency": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "name": {
                              "type": "string"
                            },
                            "code": {
                              "type": "string"
                            }
                          }
                        },
                        "city": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        },
                        "district": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        },
                        "amenities": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "map": {
                          "type": "null"
                        },
                        "images": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "documents": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "buildings_count": {
                          "type": "integer"
                        },
                        "units_count": {
                          "type": "integer"
                        },
                        "requests_count": {
                          "type": "integer"
                        },
                        "total_income": {
                          "type": "integer"
                        },
                        "sales_commission_rate": {
                          "type": "string"
                        },
                        "rental_commission_rate": {
                          "type": "string"
                        },
                        "product_code": {
                          "type": "null"
                        },
                        "license_number": {
                          "type": "null"
                        },
                        "license_issue_date": {
                          "type": "null"
                        },
                        "license_expiry_date": {
                          "type": "null"
                        },
                        "record_payments": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "additional_payments": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "completion_percent": {
                          "type": "integer"
                        },
                        "allow_cash_sale": {
                          "type": "integer"
                        },
                        "allow_bank_financing": {
                          "type": "integer"
                        },
                        "listed_percentage": {
                          "type": "integer"
                        },
                        "is_market_place": {
                          "type": "string"
                        },
                        "is_buy": {
                          "type": "integer"
                        },
                        "community_marketplace_type": {
                          "type": "string"
                        },
                        "is_off_plan_sale": {
                          "type": "string"
                        }
                      }
                    },
                    "meta": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                },
                "examples": {
                  "success": {
                    "value": {
                      "code": 200,
                      "message": "تم تحديث المشروع بنجاح",
                      "data": {
                        "id": 15,
                        "name": "Updated Community 1776012522795",
                        "description": null,
                        "country": {
                          "id": 1,
                          "name": "المملكة العربية السعودية",
                          "code": "SA"
                        },
                        "currency": {
                          "id": 1,
                          "name": "ريال سعودي",
                          "code": "SAR"
                        },
                        "city": {
                          "id": 1,
                          "name": "الرياض"
                        },
                        "district": {
                          "id": 1,
                          "name": "الدرعية"
                        },
                        "amenities": [],
                        "map": null,
                        "images": [],
                        "documents": [],
                        "buildings_count": 0,
                        "units_count": 0,
                        "requests_count": 0,
                        "total_income": 0,
                        "sales_commission_rate": "0.00",
                        "rental_commission_rate": "0.00",
                        "product_code": null,
                        "license_number": null,
                        "license_issue_date": null,
                        "license_expiry_date": null,
                        "record_payments": [],
                        "additional_payments": [],
                        "completion_percent": 0,
                        "allow_cash_sale": 0,
                        "allow_bank_financing": 0,
                        "listed_percentage": 0,
                        "is_market_place": "0",
                        "is_buy": 0,
                        "community_marketplace_type": "rent",
                        "is_off_plan_sale": "0"
                      },
                      "meta": []
                    },
                    "summary": "Successful response"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "default": {
                  "value": {
                    "name": "Updated Community 1776012522795"
                  },
                  "summary": "Example request body"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "tenantHeader": []
          }
        ]
      }
    },
    "rf/communities/1": {
      "delete": {
        "operationId": "delete_rf_communities_1",
        "summary": "DELETE rf/communities/1",
        "tags": [
          "properties"
        ],
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "message": "The DELETE method is not supported for this route. Supported methods: GET, HEAD, PUT, PATCH."
                    },
                    "summary": "Error response with validation errors"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "tenantHeader": []
          }
        ]
      }
    },
    "rf/buildings": {
      "post": {
        "operationId": "post_rf_buildings",
        "summary": "POST rf/buildings",
        "tags": [
          "properties"
        ],
        "responses": {
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "message": "The given data was invalid.",
                      "errors": {
                        "name": [
                          "يجب أن لا يتجاوز طول نص الاسم 20 حروفٍ/حرفًا"
                        ]
                      }
                    },
                    "summary": "Error response with validation errors"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "rf_community_id": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "default": {
                  "value": {
                    "name": "Test Building 1776012524522xtklh",
                    "rf_community_id": "15"
                  },
                  "summary": "Example request body"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "tenantHeader": []
          }
        ]
      }
    },
    "rf/buildings/4": {
      "put": {
        "operationId": "put_rf_buildings_4",
        "summary": "PUT rf/buildings/4",
        "tags": [
          "properties"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "community": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "name": {
                              "type": "string"
                            },
                            "city": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer"
                                },
                                "name": {
                                  "type": "string"
                                }
                              }
                            },
                            "district": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer"
                                },
                                "name": {
                                  "type": "string"
                                }
                              }
                            },
                            "sales_commission_rate": {
                              "type": "string"
                            },
                            "rental_commission_rate": {
                              "type": "string"
                            },
                            "buildings_count": {
                              "type": "integer"
                            },
                            "units_count": {
                              "type": "integer"
                            },
                            "map": {
                              "type": "null"
                            },
                            "images": {
                              "type": "array",
                              "items": {
                                "type": "object"
                              }
                            },
                            "is_selected_property": {
                              "type": "boolean"
                            },
                            "count_selected_property": {
                              "type": "integer"
                            },
                            "requests_count": {
                              "type": "null"
                            },
                            "total_income": {
                              "type": "integer"
                            },
                            "is_market_place": {
                              "type": "string"
                            },
                            "is_buy": {
                              "type": "integer"
                            },
                            "community_marketplace_type": {
                              "type": "string"
                            },
                            "is_off_plan_sale": {
                              "type": "string"
                            }
                          }
                        },
                        "city": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        },
                        "district": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        },
                        "no_floors": {
                          "type": "string"
                        },
                        "year_build": {
                          "type": "null"
                        },
                        "map": {
                          "type": "null"
                        },
                        "images": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "documents": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "units": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                },
                "examples": {
                  "success": {
                    "value": {
                      "code": 200,
                      "message": "تم تحديث المبنى بنجاح",
                      "data": {
                        "id": 4,
                        "name": "Updated Building 1776012526547",
                        "community": {
                          "id": 1,
                          "name": "Test Community 1",
                          "city": {
                            "id": 1,
                            "name": "الرياض"
                          },
                          "district": {
                            "id": 1,
                            "name": "الدرعية"
                          },
                          "sales_commission_rate": "0.00",
                          "rental_commission_rate": "0.00",
                          "buildings_count": 0,
                          "units_count": 0,
                          "map": null,
                          "images": [],
                          "is_selected_property": false,
                          "count_selected_property": 0,
                          "requests_count": null,
                          "total_income": 0,
                          "is_market_place": "0",
                          "is_buy": 0,
                          "community_marketplace_type": "rent",
                          "is_off_plan_sale": "0"
                        },
                        "city": {
                          "id": 1,
                          "name": "الرياض"
                        },
                        "district": {
                          "id": 1,
                          "name": "الدرعية"
                        },
                        "no_floors": "0",
                        "year_build": null,
                        "map": null,
                        "images": [],
                        "documents": [],
                        "units": 0
                      },
                      "meta": []
                    },
                    "summary": "Successful response"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "default": {
                  "value": {
                    "name": "Updated Building 1776012526547"
                  },
                  "summary": "Example request body"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "tenantHeader": []
          }
        ]
      }
    },
    "rf/buildings/1": {
      "delete": {
        "operationId": "delete_rf_buildings_1",
        "summary": "DELETE rf/buildings/1",
        "tags": [
          "properties"
        ],
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "message": "The DELETE method is not supported for this route. Supported methods: GET, HEAD, PUT, PATCH."
                    },
                    "summary": "Error response with validation errors"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "tenantHeader": []
          }
        ]
      }
    },
    "rf/units": {
      "post": {
        "operationId": "post_rf_units",
        "summary": "POST rf/units",
        "tags": [
          "properties"
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": 400,
                      "message": "messages.unit_creation_failed",
                      "errors": []
                    },
                    "summary": "Error response with validation errors"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "category_id": {
                    "type": "integer"
                  },
                  "type_id": {
                    "type": "integer"
                  },
                  "rf_community_id": {
                    "type": "string"
                  },
                  "rf_building_id": {
                    "type": "string"
                  },
                  "rf_status_id": {
                    "type": "integer"
                  },
                  "map": {
                    "type": "object",
                    "properties": {
                      "latitude": {
                        "type": "number"
                      },
                      "longitude": {
                        "type": "number"
                      },
                      "place_id": {
                        "type": "string"
                      },
                      "districtName": {
                        "type": "string"
                      },
                      "formattedAddress": {
                        "type": "string"
                      },
                      "latitudeDelta": {
                        "type": "number"
                      },
                      "longitudeDelta": {
                        "type": "number"
                      },
                      "mapsLink": {
                        "type": "string"
                      }
                    }
                  },
                  "specifications": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "features": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              },
              "examples": {
                "default": {
                  "value": {
                    "name": "Test Unit 17760125283813cpq5",
                    "category_id": 2,
                    "type_id": 17,
                    "rf_community_id": "15",
                    "rf_building_id": "4",
                    "rf_status_id": 26,
                    "map": {
                      "latitude": 24.7103488,
                      "longitude": 46.6878464,
                      "place_id": "ChIJhz3eOQADLz4R_cqAJEJr0Qw",
                      "districtName": "RHSA7555, 3287",
                      "formattedAddress": "RHSA7555, 3287 Wadi Al Junah, As Sulimaniyah, Riyadh 12245, Saudi Arabia",
                      "latitudeDelta": 0.02,
                      "longitudeDelta": 0.009244060475161988,
                      "mapsLink": "https://www.google.com/maps/search/?api=1&query=24.7103488,46.6878464"
                    },
                    "specifications": [],
                    "features": []
                  },
                  "summary": "Example request body"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "tenantHeader": []
          }
        ]
      }
    },
    "rf/units/3": {
      "put": {
        "operationId": "put_rf_units_3",
        "summary": "PUT rf/units/3",
        "tags": [
          "properties"
        ],
        "responses": {
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "category_id": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "type_id": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "rf_community_id": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "message": "The given data was invalid.",
                      "errors": {
                        "category_id": [
                          "الحقل category id مطلوب."
                        ],
                        "type_id": [
                          "الحقل type id مطلوب."
                        ],
                        "rf_community_id": [
                          "الحقل rf community id مطلوب."
                        ]
                      }
                    },
                    "summary": "Error response with validation errors"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "default": {
                  "value": {
                    "name": "Updated Unit 1776012532098"
                  },
                  "summary": "Example request body"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "tenantHeader": []
          }
        ]
      }
    },
    "rf/units/1": {
      "delete": {
        "operationId": "delete_rf_units_1",
        "summary": "DELETE rf/units/1",
        "tags": [
          "properties"
        ],
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "message": "The DELETE method is not supported for this route. Supported methods: GET, HEAD, PUT, PATCH."
                    },
                    "summary": "Error response with validation errors"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "tenantHeader": []
          }
        ]
      }
    },
    "rf/units/bulk-update": {
      "post": {
        "operationId": "post_rf_units_bulk_update",
        "summary": "POST rf/units/bulk-update",
        "tags": [
          "properties"
        ],
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "message": "The POST method is not supported for this route. Supported methods: GET, HEAD, PUT, PATCH."
                    },
                    "summary": "Error response with validation errors"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "rf_status_id": {
                    "type": "integer"
                  }
                }
              },
              "examples": {
                "default": {
                  "value": {
                    "ids": [
                      3,
                      2
                    ],
                    "rf_status_id": 26
                  },
                  "summary": "Example request body"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "tenantHeader": []
          }
        ]
      }
    },
    "rf/units/bulk-delete": {
      "post": {
        "operationId": "post_rf_units_bulk_delete",
        "summary": "POST rf/units/bulk-delete",
        "tags": [
          "properties"
        ],
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "message": "The POST method is not supported for this route. Supported methods: GET, HEAD, PUT, PATCH."
                    },
                    "summary": "Error response with validation errors"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              },
              "examples": {
                "default": {
                  "value": {
                    "ids": [
                      99997,
                      99998,
                      99999
                    ]
                  },
                  "summary": "Example request body"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "tenantHeader": []
          }
        ]
      }
    },
    "rf/facilities": {
      "post": {
        "operationId": "post_rf_facilities",
        "summary": "POST rf/facilities",
        "tags": [
          "properties"
        ],
        "responses": {
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "name_ar": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "name_en": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "days": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "booking_type": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "complex_id": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "gender": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "approved": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "message": "The given data was invalid.",
                      "errors": {
                        "name_ar": [
                          "الحقل name ar مطلوب."
                        ],
                        "name_en": [
                          "الحقل name en مطلوب."
                        ],
                        "days": [
                          "الحقل days مطلوب."
                        ],
                        "booking_type": [
                          "الحقل booking type مطلوب."
                        ],
                        "complex_id": [
                          "الحقل complex id مطلوب."
                        ],
                        "gender": [
                          "الحقل النوع مطلوب."
                        ],
                        "approved": [
                          "الحقل approved مطلوب."
                        ]
                      }
                    },
                    "summary": "Error response with validation errors"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "examples": {
                "default": {
                  "value": {},
                  "summary": "Example request body"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "tenantHeader": []
          }
        ]
      }
    },
    "rf/facilities/1": {
      "put": {
        "operationId": "put_rf_facilities_1",
        "summary": "PUT rf/facilities/1",
        "tags": [
          "properties"
        ],
        "responses": {
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "name_ar": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "name_en": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "days": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "booking_type": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "complex_id": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "gender": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "approved": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "message": "The given data was invalid.",
                      "errors": {
                        "name_ar": [
                          "الحقل name ar مطلوب."
                        ],
                        "name_en": [
                          "الحقل name en مطلوب."
                        ],
                        "days": [
                          "الحقل days مطلوب."
                        ],
                        "booking_type": [
                          "الحقل booking type مطلوب."
                        ],
                        "complex_id": [
                          "الحقل complex id مطلوب."
                        ],
                        "gender": [
                          "الحقل النوع مطلوب."
                        ],
                        "approved": [
                          "الحقل approved مطلوب."
                        ]
                      }
                    },
                    "summary": "Error response with validation errors"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "default": {
                  "value": {
                    "name": "Updated Facility 1776012539175"
                  },
                  "summary": "Example request body"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "tenantHeader": []
          }
        ]
      }
    },
    "rf/facilities/999": {
      "delete": {
        "operationId": "delete_rf_facilities_999",
        "summary": "DELETE rf/facilities/999",
        "tags": [
          "properties"
        ],
        "responses": {
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "success": false,
                      "message": "RfFacilit not Found."
                    },
                    "summary": "Error response with validation errors"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "tenantHeader": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "tenantHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Tenant"
      }
    }
  },
  "security": [
    {
      "bearerAuth": [],
      "tenantHeader": []
    }
  ]
}