openapi: 3.0.3
info:
  title: Atar Property Management API
  description: "\n# Atar API Documentation\n\nAuto-generated from real API responses captured on 2026-04-10T22:03:41.972Z.\n\n## Base URLs\n- **Management API**: https://api.goatar.com/api-management\n- **Tenancy API**: https://api.goatar.com/tenancy/api\n\n## Authentication\nAll endpoints require Bearer token authentication:\n```\nAuthorization: Bearer <token>\nX-Tenant: <tenant_name>\n```\n\n## Response Format\nMost endpoints return a standard response format:\n```json\n{\n  \"code\": 200,\n  \"message\": \"\",\n  \"data\": [...],\n  \"meta\": [...]\n}\n```\n    "
  version: 1.0.0
  contact:
    name: Atar Support
    email: info@goatar.com
    url: "https://goatar.com"
servers:
  -
        url: "https://api.goatar.com/api-management"
    description: Management API
  -
        url: "https://api.goatar.com/tenancy/api"
    description: Tenancy API
tags:
  -
        name: Dashboard
    description: Dashboard and statistics
  -
        name: Admins
    description: Admin management
  -
        name: Leases
    description: Lease management
  -
        name: Leads
    description: Lead/customer management
  -
        name: Contacts
    description: Contact management
  -
        name: Requests
    description: Service requests
  -
        name: Transactions
    description: Financial transactions
  -
        name: Properties
    description: Buildings, facilities, units
  -
        name: Marketplace
    description: Marketplace settings
  -
        name: Visitor Access
    description: Visitor management
  -
        name: Notifications
    description: Notifications
  -
        name: Announcements
    description: Announcements
  -
        name: Common
    description: Common data lists
  -
        name: Tenancy
    description: Tenancy/user endpoints
paths:
  /dashboard/requires-attention:
    get:
      tags:
        - Dashboard
      summary: Dashboard attention items
      operationId: get_dashboard_requires_attention
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardResponse"
              example:
                data:
                  requests_approval: 0
                  pending_complaints: 0
                  expiring_leases: 0
                  overdue_recipes: 0
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rf/admins:
    get:
      tags:
        - Admins
      summary: List admins
      operationId: get_rf_admins
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardResponse"
              example:
                code: 200
                message: ""
                data:
                  -
                                        id: 2
                    name: Atar Support
                    image: null
                    phone_number: "+966502879676"
                    phone_country_code: SA
                    national_id: null
                    email: info@goatar.com
                    role: Admins
                    created_at: "2026-04-10T06:09:54.000000Z"
                    types: []
                  -
                                        id: 1
                    name: Test User
                    image: null
                    phone_number: "+966555123456"
                    phone_country_code: SA
                    national_id: "1234567890"
                    email: test@example.com
                    role: accountAdmins
                    created_at: "2026-04-10T06:09:27.000000Z"
                    types: []
                meta: []
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rf/admins/manager-roles:
    get:
      tags:
        - Admins
      summary: Manager roles
      operationId: get_rf_admins_manager_roles
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardResponse"
              example:
                code: 200
                message: ""
                data:
                  -
                                        id: 1
                    role: Admins
                    name_ar: مدير
                    name_en: Admin
                    types: null
                  -
                                        id: 2
                    role: accountingManagers
                    name_ar: مسؤول المالي
                    name_en: Accounting Manager
                    types: null
                  -
                                        id: 3
                    role: serviceManagers
                    name_ar: مسؤول الخدمات
                    name_en: Service Manager
                    types:
                      -
                                                id: 1
                        name: طلبات خدمات المنازل
                      -
                                                id: 2
                        name: طلبات خدمات المناطق المشتركة
                      -
                                                id: 3
                        name: طلبات دخول الزوار
                      -
                                                id: 5
                        name: طلبات الحجوزات للمرافق
                  -
                                        id: 4
                    role: marketingManagers
                    name_ar: مسؤول التسويق
                    name_en: Marketing Manager
                    types: null
                  -
                                        id: 5
                    role: salesAndLeasingManagers
                    name_ar: مسؤول المبيعات والتأجير
                    name_en: Sales & Leasing Manager
                    types: null
                meta: []
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rf/leases:
    get:
      tags:
        - Leases
      summary: List leases
      operationId: get_rf_leases
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardResponse"
              example:
                code: 200
                message: ""
                data: []
                meta: []
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rf/leases/statistics:
    get:
      tags:
        - Leases
      summary: Lease statistics
      operationId: get_rf_leases_statistics
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardResponse"
              example:
                code: 200
                message: ""
                data:
                  totalLeases: 0
                  newLeases: 0
                  activeLeases: 0
                  expiredLeases: 0
                  terminatedLeases: 0
                  percentNewLeases: 0
                  percentActiveLeases: 0
                  percentExpiredLeases: 0
                  percentTerminatedLeases: 0
                  activeCommercialLeases: 0
                  activeResidentialLeases: 0
                  currentMonthCollection: 0
                  currentYearCollection: 0
                  calculatePaidCollectionForCurrentMonth: 0
                  calculatePaidCollectionForCurrentYear: 0
                meta: []
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rf/sub-leases:
    get:
      tags:
        - Other
      summary: Sub-leases
      operationId: get_rf_sub_leases
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardResponse"
              example:
                code: 200
                message: ""
                data: []
                meta: []
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rf/leads:
    get:
      tags:
        - Leads
      summary: List leads
      operationId: get_rf_leads
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardResponse"
              example:
                code: 200
                message: ""
                data: []
                meta: []
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rf/contacts/statistics:
    get:
      tags:
        - Contacts
      summary: Contact statistics
      operationId: get_rf_contacts_statistics
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardResponse"
              example:
                code: 200
                message: تم استرجاع البيانات بنجاح
                data:
                  user_count: 0
                  individual_tenants_count: 0
                  company_tenants_count: 0
                meta: []
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rf/tenants:
    get:
      tags:
        - Other
      summary: List tenants
      operationId: get_rf_tenants
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardResponse"
              example:
                code: 200
                message: ""
                data: []
                meta: []
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rf/requests/categories:
    get:
      tags:
        - Requests
      summary: Request categories
      operationId: get_rf_requests_categories
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardResponse"
              example:
                code: 200
                message: ""
                data:
                  -
                                        id: 1
                    name: خدمات الوحدات
                    description: للخدمات الخاصة بالوحدات
                    status: "1"
                    has_sub_categories: "1"
                    sub_categories:
                      -
                                                id: 1
                        name: صيانة
                        icon:
                          id: 6
                          url: "https://storage.googleapis.com/prod-pms-bucket/6"
                          name: "6"
                          notes: predefined
                        status: "1"
                      -
                                                id: 2
                        name: تنظيف المنزل
                        icon:
                          id: 6
                          url: "https://storage.googleapis.com/prod-pms-bucket/6"
                          name: "6"
                          notes: predefined
                        status: "1"
                      -
                                                id: 3
                        name: غسيل السيارات
                        icon:
                          id: 6
                          url: "https://storage.googleapis.com/prod-pms-bucket/6"
                          name: "6"
                          notes: predefined
                        status: "1"
                      -
                                                id: 4
                        name: الأجهزة الكهربائية
                        icon:
                          id: 6
                          url: "https://storage.googleapis.com/prod-pms-bucket/6"
                          name: "6"
                          notes: predefined
                        status: "1"
                      -
                                                id: 5
                        name: إصلاح الأثاث
                        icon:
                          id: 6
                          url: "https://storage.googleapis.com/prod-pms-bucket/6"
                          name: "6"
                          notes: predefined
                        status: "1"
                      -
                                                id: 6
                        name: خدمات أخرى
                        icon:
                          id: 6
                          url: "https://storage.googleapis.com/prod-pms-bucket/6"
                          name: "6"
                          notes: predefined
                        status: "1"
                    serviceSettings:
                      visibilities:
                        hide_resident_number: false
                        hide_resident_name: false
                        hide_professional_number_and_name: false
                        show_unified_number_only: false
                      permissions:
                        manager_close_Request: false
                        not_require_professional_enter_request_code: false
                        not_require_professional_upload_request_photo: false
                        attachments_required: false
                        allow_professional_reschedule: false
                      submit_request_before_type: null
                      submit_request_before_value: null
                      capacity_type: null
                      capacity_value: null
                    icon:
                      id: "1"
                      url: "https://storage.googleapis.com/prod-pms-bucket/icons/rf_categories_icons/1.png"
                      name: 1.png
                      notes: predefined
                  -
                                        id: 2
                    name: طلبات المناطق المشتركة
                    description: للخدمات الخاصة بالمناطق المشتركة
                    status: "1"
                    has_sub_categories: "1"
                    sub_categories:
                      -
                                                id: 7
                        name: الأمن و السلامة
                        icon:
                          id: 6
                          url: "https://storage.googleapis.com/prod-pms-bucket/6"
                          name: "6"
                          notes: predefined
                        status: "1"
                      -
                                                id: 8
                        name: مشاكل الوحدات
                        icon:
                          id: 6
                          url: "https://storage.googleapis.com/prod-pms-bucket/6"
                          name: "6"
                          notes: predefined
                        status: "1"
                      -
                                                id: 9
                        name: مشاكل السكان
                        icon:
                          id: 6
                          url: "https://storage.googleapis.com/prod-pms-bucket/6"
                          name: "6"
                          notes: predefined
                        status: "1"
                      -
                                                id: 10
                        name: مشاكل الخدمات
                        icon:
                          id: 6
                          url: "https://storage.googleapis.com/prod-pms-bucket/6"
                          name: "6"
                          notes: predefined
                        status: "1"
                      -
                                                id: 11
                        name: مشاكل اخرى
                        icon:
                          id: 6
                          url: "https://storage.googleapis.com/prod-pms-bucket/6"
                          name: "6"
                          notes: predefined
                        status: "1"
                    serviceSettings:
                      visibilities:
                        hide_resident_number: false
                        hide_resident_name: false
                        hide_professional_number_and_name: false
                        show_unified_number_only: false
                      permissions:
                        manager_close_Request: false
                        not_require_professional_enter_request_code: false
                        not_require_professional_upload_request_photo: false
                        attachments_required: false
                        allow_professional_reschedule: false
                      submit_request_before_type: null
                      submit_request_before_value: null
                      capacity_type: null
                      capacity_value: null
                    icon:
                      id: "2"
                      url: "https://storage.googleapis.com/prod-pms-bucket/icons/rf_categories_icons/2.png"
                      name: 2.png
                      notes: predefined
                  -
                                        id: 3
                    name: طلبات تصاريح الزوار
                    description: لطلبات تصاريح دخول الزوار
                    status: "1"
                    has_sub_categories: "0"
                    sub_categories: []
                    serviceSettings:
                      visibilities:
                        hide_resident_number: false
                        hide_resident_name: false
                        hide_professional_number_and_name: false
                        show_unified_number_only: false
                      permissions:
                        manager_close_Request: false
                        not_require_professional_enter_request_code: false
                        not_require_professional_upload_request_photo: false
                        attachments_required: false
                        allow_professional_reschedule: false
                      submit_request_before_type: null
                      submit_request_before_value: null
                      capacity_type: null
                      capacity_value: null
                    icon:
                      id: "3"
                      url: "https://storage.googleapis.com/prod-pms-bucket/icons/rf_categories_icons/3.png"
                      name: 3.png
                      notes: predefined
                  -
                                        id: 4
                    name: طلبات المدير
                    description: للتواصل مع مدير المجمع السكني ﻷي أمر في محيطك
                    status: "0"
                    has_sub_categories: "0"
                    sub_categories: []
                    serviceSettings:
                      visibilities:
                        hide_resident_number: false
                        hide_resident_name: false
                        hide_professional_number_and_name: false
                        show_unified_number_only: false
                      permissions:
                        manager_close_Request: false
                        not_require_professional_enter_request_code: false
                        not_require_professional_upload_request_photo: false
                        attachments_required: false
                        allow_professional_reschedule: false
                      submit_request_before_type: null
                      submit_request_before_value: null
                      capacity_type: null
                      capacity_value: null
                    icon:
                      id: "4"
                      url: "https://storage.googleapis.com/prod-pms-bucket/icons/rf_categories_icons/4.png"
                      name: 4.png
                      notes: predefined
                meta: []
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rf/users/requests:
    get:
      tags:
        - Requests
      summary: User requests
      operationId: get_rf_users_requests
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardResponse"
              example:
                code: 200
                message: ""
                data: []
                meta: []
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rf/users/requests/types:
    get:
      tags:
        - Requests
      summary: Request types
      operationId: get_rf_users_requests_types
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardResponse"
              example:
                code: 200
                message: ""
                data:
                  list:
                    -
                                            id: 1
                      name_ar: السباكة
                      name_en: Plumbing
                      name: السباكة
                      fee_type: free
                      price: null
                      fee_from: null
                      fee_to: null
                      status: "1"
                      icon_url:
                        id: 6
                        url: "https://storage.googleapis.com/prod-pms-bucket/6"
                        name: "6"
                        notes: predefined
                      description: null
                    -
                                            id: 2
                      name_ar: الكهرباء
                      name_en: Electrical
                      name: الكهرباء
                      fee_type: free
                      price: null
                      fee_from: null
                      fee_to: null
                      status: "1"
                      icon_url:
                        id: 6
                        url: "https://storage.googleapis.com/prod-pms-bucket/6"
                        name: "6"
                        notes: predefined
                      description: null
                    -
                                            id: 3
                      name_ar: التكيف
                      name_en: Air Conditioning
                      name: التكيف
                      fee_type: free
                      price: null
                      fee_from: null
                      fee_to: null
                      status: "1"
                      icon_url:
                        id: 6
                        url: "https://storage.googleapis.com/prod-pms-bucket/6"
                        name: "6"
                        notes: predefined
                      description: null
                    -
                                            id: 4
                      name_ar: النجارة
                      name_en: Carpentary
                      name: النجارة
                      fee_type: free
                      price: null
                      fee_from: null
                      fee_to: null
                      status: "1"
                      icon_url:
                        id: 6
                        url: "https://storage.googleapis.com/prod-pms-bucket/6"
                        name: "6"
                        notes: predefined
                      description: null
                    -
                                            id: 5
                      name_ar: الدهانات
                      name_en: Painting
                      name: الدهانات
                      fee_type: free
                      price: null
                      fee_from: null
                      fee_to: null
                      status: "1"
                      icon_url:
                        id: 6
                        url: "https://storage.googleapis.com/prod-pms-bucket/6"
                        name: "6"
                        notes: predefined
                      description: null
                    -
                                            id: 6
                      name_ar: اخرى
                      name_en: Other
                      name: اخرى
                      fee_type: free
                      price: null
                      fee_from: null
                      fee_to: null
                      status: "1"
                      icon_url:
                        id: 6
                        url: "https://storage.googleapis.com/prod-pms-bucket/6"
                        name: "6"
                        notes: predefined
                      description: null
                    -
                                            id: 7
                      name_ar: تنظيف
                      name_en: Regular Cleaning
                      name: تنظيف
                      fee_type: free
                      price: null
                      fee_from: null
                      fee_to: null
                      status: "1"
                      icon_url:
                        id: 6
                        url: "https://storage.googleapis.com/prod-pms-bucket/6"
                        name: "6"
                        notes: predefined
                      description: null
                    -
                                            id: 8
                      name_ar: تنظيف عميق
                      name_en: Deep Cleaning
                      name: تنظيف عميق
                      fee_type: free
                      price: null
                      fee_from: null
                      fee_to: null
                      status: "1"
                      icon_url:
                        id: 6
                        url: "https://storage.googleapis.com/prod-pms-bucket/6"
                        name: "6"
                        notes: predefined
                      description: null
                    -
                                            id: 9
                      name_ar: اخرى
                      name_en: Other
                      name: اخرى
                      fee_type: free
                      price: null
                      fee_from: null
                      fee_to: null
                      status: "1"
                      icon_url:
                        id: 6
                        url: "https://storage.googleapis.com/prod-pms-bucket/6"
                        name: "6"
                        notes: predefined
                      description: null
                    -
                                            id: 10
                      name_ar: الداخلية فقط
                      name_en: Interior Only
                      name: الداخلية فقط
                      fee_type: free
                      price: null
                      fee_from: null
                      fee_to: null
                      status: "1"
                      icon_url:
                        id: 6
                        url: "https://storage.googleapis.com/prod-pms-bucket/6"
                        name: "6"
                        notes: predefined
                      description: null
                    -
                                            id: 11
                      name_ar: الخارجية فقط
                      name_en: Exterior Only
                      name: الخارجية فقط
                      fee_type: free
                      price: null
                      fee_from: null
                      fee_to: null
                      status: "1"
                      icon_url:
                        id: 6
                        url: "https://storage.googleapis.com/prod-pms-bucket/6"
                        name: "6"
                        notes: predefined
                      description: null
                    -
                                            id: 12
                      name_ar: الداخلية والخارجية فقط
                      name_en: Interior And Exterior Only
                      name: الداخلية والخارجية فقط
                      fee_type: free
                      price: null
                      fee_from: null
                      fee_to: null
                      status: "1"
                      icon_url:
                        id: 6
                        url: "https://storage.googleapis.com/prod-pms-bucket/6"
                        name: "6"
                        notes: predefined
                      description: null
                    -
                                            id: 13
                      name_ar: اخرى
                      name_en: Other
                      name: اخرى
                      fee_type: free
                      price: null
                      fee_from: null
                      fee_to: null
                      status: "1"
                      icon_url:
                        id: 6
                        url: "https://storage.googleapis.com/prod-pms-bucket/6"
                        name: "6"
                        notes: predefined
                      description: null
                    -
                                            id: 14
                      name_ar: ثلاجة
                      name_en: Refrigerator
                      name: ثلاجة
                      fee_type: free
                      price: null
                      fee_from: null
                      fee_to: null
                      status: "1"
                      icon_url:
                        id: 6
                        url: "https://storage.googleapis.com/prod-pms-bucket/6"
                        name: "6"
                        notes: predefined
                      description: null
                    -
                                            id: 15
                      name_ar: ثلاجة
                      name_en: Freezer
                      name: ثلاجة
                      fee_type: free
                      price: null
                      fee_from: null
                      fee_to: null
                      status: "1"
                      icon_url:
                        id: 6
                        url: "https://storage.googleapis.com/prod-pms-bucket/6"
                        name: "6"
                        notes: predefined
                      description: null
                    -
                                            id: 16
                      name_ar: المكواة
                      name_en: Iron
                      name: المكواة
                      fee_type: free
                      price: null
                      fee_from: null
                      fee_to: null
                      status: "1"
                      icon_url:
                        id: 6
                        url: "https://storage.googleapis.com/prod-pms-bucket/6"
                        name: "6"
                        notes: predefined
                      description: null
                    -
                                            id: 17
                      name_ar: مكنسة كهربائية
                      name_en: VacuumCleaner
                      name: مكنسة كهربائية
                      fee_type: free
                      price: null
                      fee_from: null
                      fee_to: null
                      status: "1"
                      icon_url:
                        id: 6
                        url: "https://storage.googleapis.com/prod-pms-bucket/6"
                        name: "6"
                        notes: predefined
                      description: null
                    -
                                            id: 18
                      name_ar: تلفاز
                      name_en: TV
                      name: تلفاز
                      fee_type: free
                      price: null
                      fee_from: null
                      fee_to: null
                      status: "1"
                      icon_url:
                        id: 6
                        url: "https://storage.googleapis.com/prod-pms-bucket/6"
                        name: "6"
                        notes: predefined
                      description: null
                    -
                                            id: 19
                      name_ar: سطح الفرن
                      name_en: Stove
                      name: سطح الفرن
                      fee_type: free
                      price: null
                      fee_from: null
                      fee_to: null
                      status: "1"
                      icon_url:
                        id: 6
                        url: "https://storage.googleapis.com/prod-pms-bucket/6"
                        name: "6"
                        notes: predefined
                      description: null
                    -
                                            id: 20
                      name_ar: فرن
                      name_en: Oven
                      name: فرن
                      fee_type: free
                      price: null
                      fee_from: null
                      fee_to: null
                      status: "1"
                      icon_url:
                        id: 6
                        url: "https://storage.googleapis.com/prod-pms-bucket/6"
                        name: "6"
                        notes: predefined
                      description: null
                    -
                                            id: 21
                      name_ar: فرن المايكرويف
                      name_en: MicrowaveOven
                      name: فرن المايكرويف
                      fee_type: free
                      price: null
                      fee_from: null
                      fee_to: null
                      status: "1"
                      icon_url:
                        id: 6
                        url: "https://storage.googleapis.com/prod-pms-bucket/6"
                        name: "6"
                        notes: predefined
                      description: null
                    -
                                            id: 22
                      name_ar: غسالة
                      name_en: WashingMachine
                      name: غسالة
                      fee_type: free
                      price: null
                      fee_from: null
                      fee_to: null
                      status: "1"
                      icon_url:
                        id: 6
                        url: "https://storage.googleapis.com/prod-pms-bucket/6"
                        name: "6"
                        notes: predefined
                      description: null
                    -
                                            id: 23
                      name_ar: مجفف
                      name_en: Dryer
                      name: مجفف
                      fee_type: free
                      price: null
                      fee_from: null
                      fee_to: null
                      status: "1"
                      icon_url:
                        id: 6
                        url: "https://storage.googleapis.com/prod-pms-bucket/6"
                        name: "6"
                        notes: predefined
                      description: null
                    -
                                            id: 24
                      name_ar: غسالة الاواني
                      name_en: Dishwasher
                      name: غسالة الاواني
                      fee_type: free
                      price: null
                      fee_from: null
                      fee_to: null
                      status: "1"
                      icon_url:
                        id: 6
                        url: "https://storage.googleapis.com/prod-pms-bucket/6"
                        name: "6"
                        notes: predefined
                      description: null
                    -
                                            id: 25
                      name_ar: ألة القهوة
                      name_en: CoffeeMaker
                      name: ألة القهوة
                      fee_type: free
                      price: null
                      fee_from: null
                      fee_to: null
                      status: "1"
                      icon_url:
                        id: 6
                        url: "https://storage.googleapis.com/prod-pms-bucket/6"
                        name: "6"
                        notes: predefined
                      description: null
                  paginator:
                    current_page: 1
                    last_page: 5
                    total: 111
                    per_page: 25
                meta: []
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /request-category:
    get:
      tags:
        - Other
      summary: Request category
      operationId: get_request_category
      responses:
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not found
  /rf/transactions/:
    get:
      tags:
        - Transactions
      summary: List transactions
      operationId: get_rf_transactions_
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardResponse"
              example:
                code: 200
                message: ""
                data: []
                meta: []
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rf/buildings:
    get:
      tags:
        - Properties
      summary: List buildings
      operationId: get_rf_buildings
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardResponse"
              example:
                code: 200
                message: تم استرجاع المباني بنجاح
                data: []
                meta: []
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rf/facilities:
    get:
      tags:
        - Properties
      summary: List facilities
      operationId: get_rf_facilities
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardResponse"
              example:
                code: 200
                message: ""
                data: []
                meta: []
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rf/communities/off-plan-sale:
    get:
      tags:
        - Properties
      summary: Off-plan sales
      operationId: get_rf_communities_off_plan_sale
      responses:
        401:
          description: Unauthorized
        403:
          description: Forbidden
        500:
          description: Server error
          content:
            application/json:
              example:
                message: Server Error
  /rf/communities/edaat/product-codes:
    get:
      tags:
        - Properties
      summary: Edaat product codes
      operationId: get_rf_communities_edaat_product_codes
      responses:
        400:
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
              example:
                code: 400
                message: حدث خطأ ما, برجاء المحاوله لاحقا.
                errors: []
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /marketplace/admin/settings/banks:
    get:
      tags:
        - Marketplace
      summary: Bank settings
      operationId: get_marketplace_admin_settings_banks
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardResponse"
              example:
                success: true
                data:
                  beneficiary_name: ""
                  bank_name: ""
                  account_number: ""
                  iban: ""
                message: تم استرجاع الاعدادات بنجاح
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /marketplace/admin/settings/sales:
    get:
      tags:
        - Marketplace
      summary: Sales settings
      operationId: get_marketplace_admin_settings_sales
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardResponse"
              example:
                code: 200
                message: ""
                data:
                  deposit_time_limit_days: 1
                  cash_contract_signing_days: 3
                  bank_contract_signing_days: 14
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /marketplace/admin/settings/visits:
    get:
      tags:
        - Marketplace
      summary: Visit settings
      operationId: get_marketplace_admin_settings_visits
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardResponse"
              example:
                code: 200
                message: ""
                data:
                  id: 1
                  days:
                    - Saturday
                    - Sunday
                    - Monday
                    - Tuesday
                    - Wednesday
                    - Thursday
                    - Friday
                  start_time: null
                  end_time: null
                  is_all_day: "1"
                  created_at: "2026-04-10 04:09"
                meta: []
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /marketplace/admin/units:
    get:
      tags:
        - Marketplace
      summary: Marketplace units
      operationId: get_marketplace_admin_units
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardResponse"
              example:
                code: 200
                message: ""
                data: []
                meta: []
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /marketplace/admin/visits:
    get:
      tags:
        - Marketplace
      summary: Marketplace visits
      operationId: get_marketplace_admin_visits
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardResponse"
              example:
                code: 200
                message: تم انشاء المطلوب بنجاح.
                data: []
                meta: []
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rf/users/visitor-access:
    get:
      tags:
        - Visitor Access
      summary: Visitor access list
      operationId: get_rf_users_visitor_access
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardResponse"
              example:
                code: 200
                message: ""
                data: []
                meta: []
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /notifications/unread-count:
    get:
      tags:
        - Notifications
      summary: Unread notifications count
      operationId: get_notifications_unread_count
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardResponse"
              example:
                data:
                  count: 0
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rf/announcements:
    get:
      tags:
        - Announcements
      summary: List announcements
      operationId: get_rf_announcements
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardResponse"
              example:
                code: 200
                message: ""
                data: []
                meta: []
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rf/common-lists:
    get:
      tags:
        - Common
      summary: Common lists
      operationId: get_rf_common_lists
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardResponse"
              example:
                code: 200
                message: ""
                data:
                  -
                                        id: 1
                    name: معلومات الطلب غير صحيحة
                    created_at: null
                    priority: "0"
                  -
                                        id: 2
                    name: تم إلغاءه بناءً على طلب الساكن
                    created_at: null
                    priority: "0"
                  -
                                        id: 3
                    name: الساكن غير متوفر
                    created_at: null
                    priority: "0"
                  -
                                        id: 4
                    name: خارج نطاق الضمان
                    created_at: null
                    priority: "0"
                  -
                                        id: 5
                    name: أخرى
                    created_at: null
                    priority: "0"
                  -
                                        id: 6
                    name: ليس ضمن نطاق خدمتي
                    created_at: null
                    priority: "0"
                  -
                                        id: 7
                    name: لست متاح
                    created_at: null
                    priority: "0"
                  -
                                        id: 8
                    name: طلب مكرر
                    created_at: null
                    priority: "0"
                  -
                                        id: 9
                    name: أخرى
                    created_at: null
                    priority: "0"
                  -
                                        id: 10
                    name: تجزئة
                    created_at: null
                    priority: "0"
                  -
                                        id: 11
                    name: الخدمات اللوجستية والتخزين
                    created_at: null
                    priority: "0"
                  -
                                        id: 12
                    name: الأغذية والمشروبات (مطعم / مقهى)
                    created_at: null
                    priority: "0"
                  -
                                        id: 13
                    name: الرعاية الصحية / العيادات / الصيدليات
                    created_at: null
                    priority: "0"
                  -
                                        id: 14
                    name: الجمال والعناية الشخصية (صالون / منتجع صحي)
                    created_at: null
                    priority: "0"
                  -
                                        id: 15
                    name: العقارات وخدمات الممتلكات
                    created_at: null
                    priority: "0"
                  -
                                        id: 16
                    name: الأزياء والملابس
                    created_at: null
                    priority: "0"
                  -
                                        id: 17
                    name: الخدمات المهنية (قانونية / استشارات / تسويق)
                    created_at: null
                    priority: "0"
                  -
                                        id: 18
                    name: مراكز التعليم والتدريب
                    created_at: null
                    priority: "0"
                  -
                                        id: 19
                    name: خدمات الصيانة والإصلاح (تكييف، سباكة، كهرباء)
                    created_at: null
                    priority: "0"
                  -
                                        id: 20
                    name: شركة تقنية / برمجيات
                    created_at: null
                    priority: "0"
                  -
                                        id: 21
                    name: أخرى
                    created_at: null
                    priority: "0"
                  -
                                        id: 22
                    name: معلومات الطلب غير صحيحة
                    created_at: null
                    priority: "1"
                  -
                                        id: 29
                    name: معلومات الطلب غير صحيحة
                    created_at: null
                    priority: "1"
                  -
                                        id: 23
                    name: طلب مكرر
                    created_at: null
                    priority: "2"
                  -
                                        id: 30
                    name: طلب مكرر
                    created_at: null
                    priority: "2"
                  -
                                        id: 24
                    name: الطلب خارج نطاق خدمات المناطق المشتركة
                    created_at: null
                    priority: "3"
                  -
                                        id: 31
                    name: الطلب خارج نطاق خدمات المناطق المشتركة
                    created_at: null
                    priority: "3"
                  -
                                        id: 25
                    name: المشكلة محلولة مسبقًا
                    created_at: null
                    priority: "4"
                  -
                                        id: 32
                    name: المشكلة محلولة مسبقًا
                    created_at: null
                    priority: "4"
                  -
                                        id: 26
                    name: تم الإلغاء بناءً على قرار إداري
                    created_at: null
                    priority: "5"
                  -
                                        id: 33
                    name: تم الإلغاء بناءً على قرار إداري
                    created_at: null
                    priority: "5"
                  -
                                        id: 27
                    name: الطلب مخالف لسياسة الخدمة
                    created_at: null
                    priority: "6"
                  -
                                        id: 34
                    name: الطلب مخالف لسياسة الخدمة
                    created_at: null
                    priority: "6"
                  -
                                        id: 28
                    name: أخرى
                    created_at: null
                    priority: "7"
                  -
                                        id: 35
                    name: أخرى
                    created_at: null
                    priority: "7"
                meta: []
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rf/statuses:
    get:
      tags:
        - Common
      summary: Status types
      operationId: get_rf_statuses
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardResponse"
              example:
                code: 200
                message: ""
                data:
                  -
                                        id: 1
                    name: جديد
                    created_at: null
                    priority: "1"
                  -
                                        id: 11
                    name: جديد
                    created_at: null
                    priority: "1"
                  -
                                        id: 12
                    name: في الانتظار
                    created_at: null
                    priority: "1"
                  -
                                        id: 13
                    name: موافق عليه
                    created_at: null
                    priority: "1"
                  -
                                        id: 14
                    name: مرفوض
                    created_at: null
                    priority: "1"
                  -
                                        id: 15
                    name: ألغي
                    created_at: null
                    priority: "1"
                  -
                                        id: 16
                    name: تم تسجيل الدخول
                    created_at: null
                    priority: "1"
                  -
                                        id: 17
                    name: تم تسجيل الخروج
                    created_at: null
                    priority: "1"
                  -
                                        id: 19
                    name: في انتظار الموافقة
                    created_at: null
                    priority: "1"
                  -
                                        id: 20
                    name: تم الحجز
                    created_at: null
                    priority: "1"
                  -
                                        id: 21
                    name: تم رفض الحجز
                    created_at: null
                    priority: "1"
                  -
                                        id: 22
                    name: تم الألغاء
                    created_at: null
                    priority: "1"
                  -
                                        id: 23
                    name: مباعة
                    created_at: null
                    priority: "1"
                  -
                                        id: 24
                    name: 	مباعة و مؤجرة
                    created_at: null
                    priority: "1"
                  -
                                        id: 26
                    name: متاحة
                    created_at: null
                    priority: "1"
                  -
                                        id: 27
                    name: جديد
                    created_at: null
                    priority: "1"
                  -
                                        id: 28
                    name: تم الحجز
                    created_at: null
                    priority: "1"
                  -
                                        id: 29
                    name: تم الألغاء
                    created_at: null
                    priority: "1"
                  -
                                        id: 30
                    name: عقد جديد
                    created_at: null
                    priority: "1"
                  -
                                        id: 31
                    name: " عقد ساري"
                    created_at: null
                    priority: "1"
                  -
                                        id: 32
                    name: عقد منتهي
                    created_at: null
                    priority: "1"
                  -
                                        id: 33
                    name: عقد ملغي
                    created_at: null
                    priority: "1"
                  -
                                        id: 34
                    name: عقد مغلق
                    created_at: null
                    priority: "1"
                  -
                                        id: 35
                    name: مجدول
                    created_at: null
                    priority: "1"
                  -
                                        id: 36
                    name: مكتمل
                    created_at: null
                    priority: "1"
                  -
                                        id: 37
                    name: ملغى
                    created_at: null
                    priority: "1"
                  -
                                        id: 38
                    name: مرفوض
                    created_at: null
                    priority: "1"
                  -
                                        id: 39
                    name: تم انشاء الحجز الأولي
                    created_at: null
                    priority: "1"
                  -
                                        id: 40
                    name: تمت الموافقة
                    created_at: null
                    priority: "1"
                  -
                                        id: 41
                    name: الغاء قبل العربون
                    created_at: null
                    priority: "1"
                  -
                                        id: 42
                    name: تم رفض الحجز
                    created_at: null
                    priority: "1"
                  -
                                        id: 43
                    name: الغاء بعد العربون
                    created_at: null
                    priority: "1"
                  -
                                        id: 44
                    name: تم دفع العربون
                    created_at: null
                    priority: "1"
                  -
                                        id: 45
                    name: تم إرسال العقد
                    created_at: null
                    priority: "1"
                  -
                                        id: 46
                    name: اكتمل الدفع
                    created_at: null
                    priority: "1"
                  -
                                        id: 47
                    name: تم توقيع العقد
                    created_at: null
                    priority: "1"
                  -
                                        id: 48
                    name: تم نقل الملكية
                    created_at: null
                    priority: "1"
                  -
                                        id: 49
                    name: تم الغاء العقد
                    created_at: null
                    priority: "1"
                  -
                                        id: 52
                    name: جديد
                    created_at: null
                    priority: "1"
                  -
                                        id: 62
                    name: مراجعة البيانات المالية
                    created_at: null
                    priority: "1"
                  -
                                        id: 63
                    name: جدول دفع الوحدة
                    created_at: null
                    priority: "1"
                  -
                                        id: 64
                    name: دفع عمولة ضريبة القيمة المضافة
                    created_at: null
                    priority: "1"
                  -
                                        id: 65
                    name: في انتظار الارسال
                    created_at: null
                    priority: "1"
                  -
                                        id: 66
                    name: تم الدفع
                    created_at: null
                    priority: "1"
                  -
                                        id: 67
                    name: تم الارسال
                    created_at: null
                    priority: "1"
                  -
                                        id: 68
                    name: في الانتظار
                    created_at: null
                    priority: "1"
                  -
                                        id: 69
                    name: تم اكتمال
                    created_at: null
                    priority: "1"
                  -
                                        id: 2
                    name: تم التعيين
                    created_at: null
                    priority: "2"
                  -
                                        id: 53
                    name: تمت الموافقة
                    created_at: null
                    priority: "2"
                  -
                                        id: 6
                    name: تم قبول الطلب
                    created_at: null
                    priority: "3"
                  -
                                        id: 54
                    name: مرفوض
                    created_at: null
                    priority: "3"
                  -
                                        id: 55
                    name: تم إرسال عرض السعر
                    created_at: null
                    priority: "3"
                  -
                                        id: 56
                    name: تم الرفض من العميل
                    created_at: null
                    priority: "3"
                  -
                                        id: 57
                    name: تم القبول من العميل
                    created_at: null
                    priority: "3"
                  -
                                        id: 58
                    name: تم الإلغاء من المسؤول
                    created_at: null
                    priority: "3"
                  -
                                        id: 10
                    name: تم رفض الطلب
                    created_at: null
                    priority: "4"
                  -
                                        id: 5
                    name: جاري العمل
                    created_at: null
                    priority: "5"
                  -
                                        id: 7
                    name: تم انشاء الفاتوره
                    created_at: null
                    priority: "6"
                  -
                                        id: 25
                    name: مؤجرة
                    created_at: null
                    priority: "6"
                  -
                                        id: 8
                    name: تم قبول الفاتوره
                    created_at: null
                    priority: "7"
                  -
                                        id: 9
                    name: تم رفض الفاتوره
                    created_at: null
                    priority: "8"
                  -
                                        id: 3
                    name: تم الحل
                    created_at: null
                    priority: "9"
                  -
                                        id: 4
                    name: تم الألغاء
                    created_at: null
                    priority: "10"
                  -
                                        id: 50
                    name: اعادة جدولة
                    created_at: null
                    priority: "11"
                meta: []
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /rf/modules:
    get:
      tags:
        - Common
      summary: Modules
      operationId: get_rf_modules
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardResponse"
              example:
                code: 200
                message: ""
                data:
                  -
                                        id: 1
                    title: العروض
                    is_active: "1"
                  -
                                        id: 2
                    title: طلبات الحجوزات للمرافق
                    is_active: "1"
                  -
                                        id: 3
                    title: طلبات تصاريح الزوار
                    is_active: "1"
                  -
                                        id: 4
                    title: الدليل
                    is_active: "1"
                meta: []
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /countries:
    get:
      tags:
        - Common
      summary: Countries list
      operationId: get_countries
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardResponse"
              example:
                success: true
                data: Countries Data
                message:
                  -
                                        Iso2: SA
                    Name: المملكة العربية السعودية
                    Iso3: SAU
                    Excel: SA (966)
                    Unicode: 🇸🇦
                    Dial: "966"
                    Currency: SAR
                    Capital: الرياض
                    Continent: AS
                  -
                                        Iso2: QA
                    Name: قطر
                    Iso3: QAT
                    Excel: QA (974)
                    Unicode: 🇶🇦
                    Dial: "974"
                    Currency: QAR
                    Capital: الدوحة
                    Continent: AS
                  -
                                        Iso2: KW
                    Name: الكويت
                    Iso3: KWT
                    Excel: KW (965)
                    Unicode: 🇰🇼
                    Dial: "965"
                    Currency: KWD
                    Capital: مدينة الكويت
                    Continent: AS
                  -
                                        Iso2: BH
                    Name: البحرين
                    Iso3: BHR
                    Excel: BH (973)
                    Unicode: 🇧🇭
                    Dial: "973"
                    Currency: BHD
                    Capital: المنامة
                    Continent: AS
                  -
                                        Iso2: OM
                    Name: عمان
                    Iso3: OMN
                    Excel: OM (968)
                    Unicode: 🇴🇲
                    Dial: "968"
                    Currency: OMR
                    Capital: مسقط
                    Continent: AS
                  -
                                        Iso2: AE
                    Name: الإمارات العربية المتحدة
                    Iso3: ARE
                    Excel: AE (971)
                    Unicode: 🇦🇪
                    Dial: "971"
                    Currency: AED
                    Capital: أبو ظبي
                    Continent: AS
                  -
                                        Iso2: AU
                    Name: أستراليا
                    Iso3: AUS
                    Excel: AU (61)
                    Unicode: 🇦🇺
                    Dial: "61"
                    Currency: AUD
                    Capital: کانبرا
                    Continent: OC
                  -
                                        Iso2: AF
                    Name: أفغانستان
                    Iso3: AFG
                    Excel: AF (93)
                    Unicode: 🇦🇫
                    Dial: "93"
                    Currency: AFN
                    Capital: كابول
                    Continent: AS
                  -
                                        Iso2: DE
                    Name: ألمانيا
                    Iso3: DEU
                    Excel: DE (+49)
                    Unicode: DE
                    Dial: "49"
                    Currency: EUR
                    Capital: برلين
                    Continent: EU
                  -
                                        Iso2: IE
                    Name: أيرلندا
                    Iso3: IRL
                    Excel: IE (+353)
                    Unicode: IE
                    Dial: "353"
                    Currency: EUR
                    Capital: دبلن
                    Continent: EU
                  -
                                        Iso2: ID
                    Name: إندونيسيا
                    Iso3: IDN
                    Excel: ID (62)
                    Unicode: 🇮🇩
                    Dial: "62"
                    Currency: IDR
                    Capital: جاكرتا
                    Continent: AS
                  -
                                        Iso2: IT
                    Name: إيطاليا
                    Iso3: ITA
                    Excel: IT (+39)
                    Unicode: IT
                    Dial: "39"
                    Currency: EUR
                    Capital: روما
                    Continent: EU
                  -
                                        Iso2: JO
                    Name: الأردن
                    Iso3: JOR
                    Excel: JO (962)
                    Unicode: 🇯🇴
                    Dial: "962"
                    Currency: JOD
                    Capital: عمان
                    Continent: AS
                  -
                                        Iso2: BR
                    Name: البرازيل
                    Iso3: BRA
                    Excel: BR (+55)
                    Unicode: BR
                    Dial: "55"
                    Currency: BRL
                    Capital: برازيليا
                    Continent: SA
                  -
                                        Iso2: PT
                    Name: البرتغال
                    Iso3: PRT
                    Excel: PT (+351)
                    Unicode: PT
                    Dial: "351"
                    Currency: EUR
                    Capital: لشبونة
                    Continent: EU
                  -
                                        Iso2: DZ
                    Name: الجزائر
                    Iso3: DZA
                    Excel: DZ (213)
                    Unicode: 🇩🇿
                    Dial: "213"
                    Currency: DZD
                    Capital: الجزائر
                    Continent: AF
                  -
                                        Iso2: SD
                    Name: السودان
                    Iso3: SDN
                    Excel: SD (249)
                    Unicode: 🇸🇩
                    Dial: "249"
                    Currency: SDG
                    Capital: الخرطوم
                    Continent: AF
                  -
                                        Iso2: CN
                    Name: الصين
                    Iso3: CHN
                    Excel: CN (86)
                    Unicode: 🇨🇳
                    Dial: "86"
                    Currency: CNY
                    Capital: بكين
                    Continent: AS
                  -
                                        Iso2: IQ
                    Name: العراق
                    Iso3: IRQ
                    Excel: IQ (964)
                    Unicode: 🇮🇶
                    Dial: "964"
                    Currency: IQD
                    Capital: بغداد
                    Continent: AS
                  -
                                        Iso2: PH
                    Name: الفلبين
                    Iso3: PHL
                    Excel: PH (63)
                    Unicode: 🇵🇭
                    Dial: "63"
                    Currency: PHP
                    Capital: مانيلا
                    Continent: AS
                  -
                                        Iso2: MA
                    Name: المغرب
                    Iso3: MAR
                    Excel: MA (212)
                    Unicode: 🇲🇦
                    Dial: "212"
                    Currency: MAD
                    Capital: الرِباط
                    Continent: AF
                  -
                                        Iso2: MX
                    Name: المكسيك
                    Iso3: MEX
                    Excel: MX (+52)
                    Unicode: MX
                    Dial: "52"
                    Currency: MXN
                    Capital: مكسيكو سيتي
                    Continent: NA
                  -
                                        Iso2: GB
                    Name: المملكة المتحدة
                    Iso3: GBR
                    Excel: GB (44)
                    Unicode: 🇬🇧
                    Dial: "44"
                    Currency: GBP
                    Capital: لندن
                    Continent: EU
                  -
                                        Iso2: IN
                    Name: الهند
                    Iso3: IND
                    Excel: IN (91)
                    Unicode: 🇮🇳
                    Dial: "91"
                    Currency: INR
                    Capital: نيودلهي
                    Continent: AS
                  -
                                        Iso2: US
                    Name: الولايات المتحدة الأمريكية
                    Iso3: USA
                    Excel: US (1)
                    Unicode: 🇺🇸
                    Dial: "1"
                    Currency: USD
                    Capital: واشنطن العاصمة
                    Continent: NA
                  -
                                        Iso2: JP
                    Name: اليابان
                    Iso3: JPN
                    Excel: JP (+81)
                    Unicode: JP
                    Dial: "81"
                    Currency: JPY
                    Capital: طوكيو
                    Continent: AS
                  -
                                        Iso2: YE
                    Name: اليمن
                    Iso3: YEM
                    Excel: YE (967)
                    Unicode: 🇾🇪
                    Dial: "967"
                    Currency: YER
                    Capital: صنعاء
                    Continent: AS
                  -
                                        Iso2: GR
                    Name: اليونان
                    Iso3: GRC
                    Excel: GR (+30)
                    Unicode: GR
                    Dial: "30"
                    Currency: EUR
                    Capital: أثينا
                    Continent: EU
                  -
                                        Iso2: PK
                    Name: باكستان
                    Iso3: PAK
                    Excel: PK (92)
                    Unicode: 🇵🇰
                    Dial: "92"
                    Currency: PKR
                    Capital: إسلام آباد
                    Continent: AS
                  -
                                        Iso2: BD
                    Name: بنجلاديش
                    Iso3: BGD
                    Excel: BD (880)
                    Unicode: 🇧🇩
                    Dial: "880"
                    Currency: BDT
                    Capital: دكا
                    Continent: AS
                  -
                                        Iso2: PE
                    Name: بيرو
                    Iso3: PER
                    Excel: PE (+51)
                    Unicode: PE
                    Dial: "51"
                    Currency: PEN
                    Capital: ليما
                    Continent: SA
                  -
                                        Iso2: TR
                    Name: تركيا
                    Iso3: TUR
                    Excel: TR (90)
                    Unicode: 🇹🇷
                    Dial: "90"
                    Currency: TRY
                    Capital: انقرة
                    Continent: AS
                  -
                                        Iso2: TN
                    Name: تونس
                    Iso3: TUN
                    Excel: TN (216)
                    Unicode: 🇹🇳
                    Dial: "216"
                    Currency: TND
                    Capital: تونس
                    Continent: AF
                  -
                                        Iso2: ZA
                    Name: جنوب أفريقيا
                    Iso3: ZAF
                    Excel: ZA (+27)
                    Unicode: ZA
                    Dial: "27"
                    Currency: ZAR
                    Capital: بريتوريا
                    Continent: AF
                  -
                                        Iso2: RU
                    Name: روسيا
                    Iso3: RUS
                    Excel: RU (+7)
                    Unicode: RU
                    Dial: "7"
                    Currency: RUB
                    Capital: موسكو
                    Continent: EU
                  -
                                        Iso2: RO
                    Name: رومانيا
                    Iso3: ROU
                    Excel: RO (+40)
                    Unicode: RO
                    Dial: "40"
                    Currency: RON
                    Capital: بوخارست
                    Continent: EU
                  -
                                        Iso2: SY
                    Name: سوريا
                    Iso3: SYR
                    Excel: SY (963)
                    Unicode: 🇸🇾
                    Dial: "963"
                    Currency: SYP
                    Capital: دمشق
                    Continent: AS
                  -
                                        Iso2: FR
                    Name: فرنسا
                    Iso3: FRA
                    Excel: FR (+33)
                    Unicode: FR
                    Dial: "33"
                    Currency: EUR
                    Capital: باريس
                    Continent: EU
                  -
                                        Iso2: PS
                    Name: فلسطين
                    Iso3: PSE
                    Excel: PS (970)
                    Unicode: 🇵🇸
                    Dial: "970"
                    Currency: ILS
                    Capital: القدس
                    Continent: AS
                  -
                                        Iso2: CA
                    Name: كندا
                    Iso3: CAN
                    Excel: CA (1)
                    Unicode: 🇨🇦
                    Dial: "1"
                    Currency: CAD
                    Capital: أوتاوا
                    Continent: NA
                  -
                                        Iso2: KR
                    Name: كوريا الجنوبية
                    Iso3: KOR
                    Excel: KR (+82)
                    Unicode: KR
                    Dial: "82"
                    Currency: KRW
                    Capital: سيول
                    Continent: AS
                  -
                                        Iso2: LB
                    Name: لبنان
                    Iso3: LBN
                    Excel: LB (961)
                    Unicode: 🇱🇧
                    Dial: "961"
                    Currency: LBP
                    Capital: بيروت
                    Continent: AS
                  -
                                        Iso2: LY
                    Name: ليبيا
                    Iso3: LBY
                    Excel: LY (218)
                    Unicode: 🇱🇾
                    Dial: "218"
                    Currency: LYD
                    Capital: طرابلس
                    Continent: AF
                  -
                                        Iso2: MY
                    Name: ماليزيا
                    Iso3: MYS
                    Excel: MY (+60)
                    Unicode: MY
                    Dial: "60"
                    Currency: MYR
                    Capital: كوالالمبور
                    Continent: AS
                  -
                                        Iso2: EG
                    Name: مصر
                    Iso3: EGY
                    Excel: EG  (20)
                    Unicode: 🇪🇬
                    Dial: "20"
                    Currency: EGP
                    Capital: القاهرة
                    Continent: AF
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /integrations/powerbi/types:
    get:
      tags:
        - Other
      summary: Power BI types
      operationId: get_integrations_powerbi_types
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardResponse"
              example:
                code: 200
                message: ""
                data:
                  -
                                        id: 5
                    title: التقارير المالية
                    comming_soon: "1"
                    is_active: "1"
                  -
                                        id: 2
                    title: تقارير التأجير
                    comming_soon: "1"
                    is_active: "1"
                  -
                                        id: 4
                    title: تقارير العقارات
                    comming_soon: "1"
                    is_active: "1"
                  -
                                        id: 3
                    title: تقارير المبيعات
                    comming_soon: "1"
                    is_active: "1"
                  -
                                        id: 1
                    title: تقارير الطلبات
                    comming_soon: "1"
                    is_active: "1"
                meta: []
        401:
          description: Unauthorized
        403:
          description: Forbidden
  /me:
    get:
      tags:
        - Tenancy
      summary: Current user info
      operationId: get_me
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardResponse"
              example:
                data:
                  id: 1
                  name: Test User
                  first_name: Test
                  father_name: null
                  grandfather_name: null
                  last_name: User
                  email: test@example.com
                  phone_number: "0555123456"
                  full_phone_number: "+966555123456"
                  phone_country_code: SA
                  national_id: "1234567890"
                  nationality: null
                  address: null
                  app_language: ar
                  privacy_policy_accepted: false
                  subscription:
                    plan_name: باقة البداية
                    plan_name_without_translate:
                      name: "{\"ar\": \"باقة البداية\", \"en\": \"Starter Plan\"}"
                    subscription_id: 1869
                    on_trial: true
                    active: true
                    ended: false
                    trial_ends_at: 2026/04/24
                    starts_at: 2026/04/24
                    ends_at: 2026/05/24
                    plan_id: 1
                    details: null
                    features:
                      -
                                                slug: aard-alohdat-almtah-llbyaa-ao-lltagyr
                        name: عرض الوحدات المتاحة للبيع أو للتأجير
                        description: عرض الوحدات المتاحة للبيع أو للتأجير على المنصة
                        coming_soon: false
                        value: N
                        sort_order: 52
                        category: property_marketplace
                      -
                                                slug: adaf-rsom-khas-balkhdmat
                        name: إضافة رسوم خاصة بالخدمات
                        description: تحديد الرسوم للخدمات بما فيها رسوم الخدمة ورسوم قطع الغيار
                        coming_soon: false
                        value: N
                        sort_order: 31
                        category: property_management
                      -
                                                slug: adar-aalakat-alaamlaaa
                        name: إدارة علاقات العملاء
                        description: نظام متكامل لإدارة علاقات العملاء
                        coming_soon: false
                        value: N
                        sort_order: 51
                        category: property_marketplace
                      -
                                                slug: adar-alaarod-oalkhsomat
                        name: إدارة العروض والخصومات
                        description: إضافة عروض وخصومات حصرية للعملاء
                        coming_soon: false
                        value: N
                        sort_order: 41
                        category: community_management
                      -
                                                slug: adar-alhgozat
                        name: إدارة الحجوزات
                        description: إدارة حجوزات الوحدات العقارية
                        coming_soon: false
                        value: N
                        sort_order: 57
                        category: property_marketplace
                      -
                                                slug: adar-alhgozat-llmrafk-almshtrk
                        name: إدارة الحجوزات للمرافق المشتركة
                        description: إدارة حجز المرافق بداية من تحديد المرافق القابلة للحجز وأوقات الحجز الممكنة بالإضافة إلى الموافقات وتحديد الرسوم
                        coming_soon: false
                        value: N
                        sort_order: 40
                        category: facility_management
                      -
                                                slug: adar-alkhdmat
                        name: إدارة الخدمات
                        description: تفعيل الخدمات وتحديد ساعات العمل والساعات المتاحة للزيارات الميدانية
                        coming_soon: false
                        value: N
                        sort_order: 30
                        category: property_management
                      -
                                                slug: adar-almnatk-almshtrk
                        name: إدارة المناطق المشتركة
                        description: إضافة المناطق المشتركة للمباني والمجتمعات مثل المداخل والممرات التي تحتاج إلى الصيانة الدورية
                        coming_soon: false
                        value: N
                        sort_order: 37
                        category: facility_management
                      -
                                                slug: adar-almrafk-almshtrk
                        name: إدارة المرافق المشتركة
                        description: إضافة المرافق المشتركة مثل القاعات والمجالس والمسابح
                        coming_soon: false
                        value: N
                        sort_order: 39
                        category: facility_management
                      -
                                                slug: adar-alzyarat-otsaryh-aldkhol
                        name: إدارة الزيارات وتصاريح الدخول
                        description: أدوات عديدة لادارة الزيارات بما فيها تحديد الساعات المتاحة للزيارة وأخذ الموافقات اللازمة وعدد الزيارات المسموحة
                        coming_soon: false
                        value: N
                        sort_order: 36
                        category: property_management
                      -
                                                slug: adar-gmaayat-almlak-almaatmd
                        name: إدارة جمعيات الملاك المعتمدة
                        description: null
                        coming_soon: true
                        value: N
                        sort_order: 48
                        category: homeowner_association_management
                      -
                                                slug: adar-syr-aaml-altthakr-oalatmt
                        name: ادارة سير عمل التذاكر والأتمتة
                        description: إدارة الموافقات والإجراءات المتعلقة بالتذاكر وإمكانية تعيين التذاكر تلقائياً
                        coming_soon: false
                        value: N
                        sort_order: 32
                        category: property_management
                      -
                                                slug: adar-tthakr-alkhdmat
                        name: إدارة تذاكر الخدمات
                        description: إدارة التذاكر من البداية إلى النهاية بما فيها تعيين التذاكر للموظفين وإنجاز المهام ومن ثم إقفال التذاكر من خلال رمز التأكيد المتوفر لدى العميل
                        coming_soon: false
                        value: N
                        sort_order: 34
                        category: property_management
                      -
                                                slug: adar-tthakr-alkhdmat-llamakn-almshtrk
                        name: إدارة تذاكر الخدمات للاماكن المشتركة
                        description: إدارة التذاكر من البداية إلى النهاية بما فيها تعيين التذاكر للموظفين وإنجاز المهام ومن ثم إقفال التذاكر من خلال رمز التأكيد المتوفر لدى الادارة
                        coming_soon: false
                        value: N
                        sort_order: 38
                        category: facility_management
                      -
                                                slug: aladar-almhasby
                        name: " الإدارة المحاسبية"
                        description: null
                        coming_soon: false
                        value: Y
                        sort_order: 3
                        category: highlights
                      -
                                                slug: aldfaa-alalktrony
                        name: الدفع الإلكتروني
                        description: السماح للمستخدمين بدفع مستحقاتهم عبر النظام
                        coming_soon: true
                        value: N
                        sort_order: 21
                        category: accounting
                      -
                                                slug: aldkhol-aal-almns-llmsoolyn-oalmdraaa
                        name: الدخول على المنصة للمسؤولين والمدراء
                        description: null
                        coming_soon: false
                        value: Y
                        sort_order: 1
                        category: highlights
                      -
                                                slug: aldlyl
                        name: الدليل
                        description: دليل خاص يتيح للعملاء التواصل المباشر مع المسؤولين من خلال الاتصال أو إرسال بريد الكتروني
                        coming_soon: false
                        value: N
                        sort_order: 43
                        category: community_management
                      -
                                                slug: alfotr-alalktrony
                        name: الفوترة الالكترونية
                        description: اصدار فواتير إلكترونية معتمدة تشمل شعار و بيانات الشركة
                        coming_soon: false
                        value: Y
                        sort_order: 20
                        category: accounting
                      -
                                                slug: almdraaa
                        name: المدراء
                        description: إمكانية الدخول على المنصة لعدد غير محدود من المدراء وبصلاحيات مختلفة
                        coming_soon: false
                        value: Y
                        sort_order: 7
                        category: platform_access
                      -
                                                slug: almlak
                        name: الملاك
                        description: إمكانية الدخول على المنصة لملاك العقارات
                        coming_soon: false
                        value: N
                        sort_order: 11
                        category: platform_access
                      -
                                                slug: almsoolyn
                        name: المسؤولين
                        description: إمكانية الدخول على المنصة لعدد غير محدود من المسؤولين
                        coming_soon: false
                        value: Y
                        sort_order: 6
                        category: platform_access
                      -
                                                slug: almstagryn
                        name: المستأجرين
                        description: إمكانية الدخول على المنصة للمستأجرين
                        coming_soon: false
                        value: N
                        sort_order: 9
                        category: platform_access
                      -
                                                slug: alrbt-maa-brnamg-mlak
                        name: الربط مع برنامج ملاك
                        description: null
                        coming_soon: true
                        value: N
                        sort_order: 47
                        category: homeowner_association_management
                      -
                                                slug: alrbt-maa-shbk-aygar
                        name: الربط مع شبكة إيجار
                        description: الربط مع حسابك الخاص في منصة إيجار
                        coming_soon: false
                        value: Y
                        sort_order: 14
                        category: lease_management
                      -
                                                slug: altaadylat-ottoyr-khsays-adafy
                        name: التعديلات وتطوير خصائص إضافية
                        description: طلب التعديلات وتطوير خصائص إضافية بناءً على الطلب
                        coming_soon: false
                        value: N
                        sort_order: 65
                        category: additional_services
                      -
                                                slug: altabaayn
                        name: التابعين
                        description: إمكانية الدخول على المنصة لأفراد العائلة
                        coming_soon: false
                        value: N
                        sort_order: 10
                        category: platform_access
                      -
                                                slug: altkaml-altkny-maa-anthm-akhr
                        name: التكامل التقني مع أنظمة أخرى
                        description: التكامل التقني مع أنظمة أخرى مثل أنظمة محاسبية وأنظمة إدارة علاقات العملاء وأنظمة (ERP)
                        coming_soon: false
                        value: N
                        sort_order: 64
                        category: additional_services
                      -
                                                slug: altkaml-maa-oatsab-llaaamal
                        name: التكامل مع واتساب للأعمال
                        description: التكامل مع واتساب للأعمال لتسهيل التواصل مع العميل
                        coming_soon: false
                        value: N
                        sort_order: 46
                        category: community_management
                      -
                                                slug: anshaaa-aakod-altagyr
                        name: إنشاء عقود التأجير
                        description: إنشاء عقود التأجير للعقارات السكنية والتجارية
                        coming_soon: false
                        value: Y
                        sort_order: 12
                        category: lease_management
                      -
                                                slug: anshaaa-oadar-aakod-altagyr
                        name: إنشاء وإدارة عقود التأجير
                        description: null
                        coming_soon: false
                        value: Y
                        sort_order: 2
                        category: highlights
                      -
                                                slug: arsal-alaaalanat
                        name: إرسال الإعلانات
                        description: إرسال إعلانات عامة لجميع العملاء أو تحديد فئات معينة
                        coming_soon: false
                        value: N
                        sort_order: 42
                        category: community_management
                      -
                                                slug: arsal-rsayl-nsy
                        name: إرسال رسائل نصية
                        description: إرسال رسائل نصية للعملاء في المناسبات العامة أو عند الحاجة
                        coming_soon: true
                        value: N
                        sort_order: 45
                        category: community_management
                      -
                                                slug: arsal-tnbyhat
                        name: إرسال تنبيهات
                        description: إرسال التنبيهات للعملاء في المناسبات العامة أو عند الحاجة
                        coming_soon: true
                        value: N
                        sort_order: 44
                        category: community_management
                      -
                                                slug: asdar-altkaryr
                        name: اصدار التقارير
                        description: null
                        coming_soon: false
                        value: Y
                        sort_order: 4
                        category: highlights
                      -
                                                slug: astkbal-aldfaaat
                        name: استقبال الدفعات
                        description: استقبال الدفعات الكترونياً من خلال أبل باي ومدى وسداد والبطاقات الائتمانية
                        coming_soon: false
                        value: N
                        sort_order: 58
                        category: property_marketplace
                      -
                                                slug: astkbal-tlbat-alshraaa-ao-altagyr
                        name: استقبال طلبات الشراء أو التأجير
                        description: استقبال ومراجعة طلبات الشراء أو التأجير من العملاء المهتمين
                        coming_soon: false
                        value: N
                        sort_order: 55
                        category: property_marketplace
                      -
                                                slug: gdol-alzyarat
                        name: جدولة الزيارات
                        description: جدولة الزيارات وتنظيم عمل فريق المبيعات
                        coming_soon: false
                        value: N
[...]
