{
  "openapi": "3.0.3",
  "info": {
    "title": "Atar API - contacts Module",
    "version": "1.0.0",
    "description": "API documentation for the contacts module of the Atar property management platform."
  },
  "servers": [
    {
      "url": "https://api.goatar.com/api-management/",
      "description": "Production API"
    }
  ],
  "paths": {
    "rf/tenants": {
      "post": {
        "operationId": "post_rf_tenants",
        "summary": "POST rf/tenants",
        "tags": [
          "contacts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "image": {
                          "type": "null"
                        },
                        "phone_number": {
                          "type": "string"
                        },
                        "invited": {
                          "type": "null"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "units": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "accepted_invite": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                },
                "examples": {
                  "success": {
                    "value": {
                      "code": 200,
                      "message": "تم انشاء المطلوب بنجاح.",
                      "data": {
                        "id": 15,
                        "name": "Test Company85w1i8",
                        "image": null,
                        "phone_number": "+966591003666",
                        "invited": null,
                        "created_at": "2026-04-12T09:45:31.000000Z",
                        "units": [],
                        "accepted_invite": 0
                      },
                      "meta": []
                    },
                    "summary": "Successful response"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "phone_number": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "message": "The given data was invalid.",
                      "errors": {
                        "phone_number": [
                          "رقم رقم الجوال غير صحيح.",
                          "قيمة الحقل رقم الجوال مُستخدمة من قبل"
                        ]
                      }
                    },
                    "summary": "Error response with validation errors"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "phone_country_code": {
                    "type": "string"
                  },
                  "phone_number": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "national_id": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "default": {
                  "value": {
                    "first_name": "Test",
                    "last_name": "Tenant3r235u",
                    "phone_country_code": "SA",
                    "phone_number": "529466320",
                    "email": "tenant3r235u@example.com",
                    "national_id": "1937958374",
                    "type": "individual",
                    "name": "Test Tenant3r235u"
                  },
                  "summary": "Example request body"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "tenantHeader": []
          }
        ]
      }
    },
    "rf/tenants/15": {
      "put": {
        "operationId": "put_rf_tenants_15",
        "summary": "PUT rf/tenants/15",
        "tags": [
          "contacts"
        ],
        "responses": {
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "phone_country_code": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "phone_number": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "message": "The given data was invalid.",
                      "errors": {
                        "phone_country_code": [
                          "الحقل phone country code مطلوب."
                        ],
                        "phone_number": [
                          "الحقل رقم الجوال مطلوب."
                        ]
                      }
                    },
                    "summary": "Error response with validation errors"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "default": {
                  "value": {
                    "first_name": "Updated",
                    "last_name": "Tenant1775987132817"
                  },
                  "summary": "Example request body"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "tenantHeader": []
          }
        ]
      }
    },
    "rf/tenants/4": {
      "delete": {
        "operationId": "delete_rf_tenants_4",
        "summary": "DELETE rf/tenants/4",
        "tags": [
          "contacts"
        ],
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "message": "The DELETE method is not supported for this route. Supported methods: GET, HEAD, PUT."
                    },
                    "summary": "Error response with validation errors"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "tenantHeader": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "tenantHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Tenant"
      }
    }
  },
  "security": [
    {
      "bearerAuth": [],
      "tenantHeader": []
    }
  ]
}