{
  "openapi": "3.0.3",
  "info": {
    "title": "Atar API - settings Module",
    "version": "1.0.0",
    "description": "API documentation for the settings module of the Atar property management platform."
  },
  "servers": [
    {
      "url": "https://api.goatar.com/api-management/",
      "description": "Production API"
    }
  ],
  "paths": {
    "rf/announcements": {
      "post": {
        "operationId": "post_rf_announcements",
        "summary": "POST rf/announcements",
        "tags": [
          "settings"
        ],
        "responses": {
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "description": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "is_visible": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "start_date": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "end_date": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "start_time": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "end_time": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "notify_user_type": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "message": "The given data was invalid.",
                      "errors": {
                        "title": [
                          "الحقل العنوان مطلوب."
                        ],
                        "description": [
                          "الحقل الوصف مطلوب."
                        ],
                        "is_visible": [
                          "الحقل is visible مطلوب."
                        ],
                        "start_date": [
                          "الحقل start date مطلوب."
                        ],
                        "end_date": [
                          "الحقل end date مطلوب."
                        ],
                        "start_time": [
                          "الحقل start time مطلوب."
                        ],
                        "end_time": [
                          "الحقل end time مطلوب."
                        ],
                        "notify_user_type": [
                          "الحقل notify user type مطلوب إذا لم يتوفّر available for."
                        ]
                      }
                    },
                    "summary": "Error response with validation errors"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "examples": {
                "default": {
                  "value": {},
                  "summary": "Example request body"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "tenantHeader": []
          }
        ]
      }
    },
    "rf/announcements/1": {
      "put": {
        "operationId": "put_rf_announcements_1",
        "summary": "PUT rf/announcements/1",
        "tags": [
          "settings"
        ],
        "responses": {
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "description": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "is_visible": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "start_date": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "end_date": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "start_time": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "end_time": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "notify_user_type": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "message": "The given data was invalid.",
                      "errors": {
                        "description": [
                          "الحقل الوصف مطلوب."
                        ],
                        "is_visible": [
                          "الحقل is visible مطلوب."
                        ],
                        "start_date": [
                          "الحقل start date مطلوب."
                        ],
                        "end_date": [
                          "الحقل end date مطلوب."
                        ],
                        "start_time": [
                          "الحقل start time مطلوب."
                        ],
                        "end_time": [
                          "الحقل end time مطلوب."
                        ],
                        "notify_user_type": [
                          "الحقل notify user type مطلوب إذا لم يتوفّر available for."
                        ]
                      }
                    },
                    "summary": "Error response with validation errors"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "default": {
                  "value": {
                    "title": "Updated Announcement 1776012538472"
                  },
                  "summary": "Example request body"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "tenantHeader": []
          }
        ]
      }
    },
    "rf/announcements/99999": {
      "delete": {
        "operationId": "delete_rf_announcements_99999",
        "summary": "DELETE rf/announcements/99999",
        "tags": [
          "settings"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "meta": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                },
                "examples": {
                  "success": {
                    "value": {
                      "code": 200,
                      "message": "تم مسح المطلوب بنجاح.",
                      "data": [],
                      "meta": []
                    },
                    "summary": "Successful response"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "tenantHeader": []
          }
        ]
      }
    },
    "notifications/mark-all-as-read": {
      "post": {
        "operationId": "post_notifications_mark_all_as_read",
        "summary": "POST notifications/mark-all-as-read",
        "tags": [
          "settings"
        ],
        "responses": {
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "message": "The POST method is not supported for this route. Supported methods: GET, HEAD, PUT."
                    },
                    "summary": "Error response with validation errors"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "examples": {
                "default": {
                  "value": {},
                  "summary": "Example request body"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "tenantHeader": []
          }
        ]
      }
    },
    "rf/facilities": {
      "post": {
        "operationId": "post_rf_facilities",
        "summary": "POST rf/facilities",
        "tags": [
          "settings"
        ],
        "responses": {
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "name_ar": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "name_en": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "days": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "booking_type": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "complex_id": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "gender": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "approved": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "message": "The given data was invalid.",
                      "errors": {
                        "name_ar": [
                          "الحقل name ar مطلوب."
                        ],
                        "name_en": [
                          "الحقل name en مطلوب."
                        ],
                        "days": [
                          "الحقل days مطلوب."
                        ],
                        "booking_type": [
                          "الحقل booking type مطلوب."
                        ],
                        "complex_id": [
                          "الحقل complex id مطلوب."
                        ],
                        "gender": [
                          "الحقل النوع مطلوب."
                        ],
                        "approved": [
                          "الحقل approved مطلوب."
                        ]
                      }
                    },
                    "summary": "Error response with validation errors"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "examples": {
                "default": {
                  "value": {},
                  "summary": "Example request body"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "tenantHeader": []
          }
        ]
      }
    },
    "rf/requests/service-settings/updateOrCreate": {
      "post": {
        "operationId": "post_rf_requests_service_settings_updateOrCreate",
        "summary": "POST rf/requests/service-settings/updateOrCreate",
        "tags": [
          "settings"
        ],
        "responses": {
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "rf_category_id": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "permissions": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "error": {
                    "value": {
                      "message": "The given data was invalid.",
                      "errors": {
                        "rf_category_id": [
                          "الحقل rf category id مطلوب."
                        ],
                        "permissions": [
                          "الحقل permissions مطلوب."
                        ]
                      }
                    },
                    "summary": "Error response with validation errors"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "examples": {
                "default": {
                  "value": {},
                  "summary": "Example request body"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": [],
            "tenantHeader": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "tenantHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Tenant"
      }
    }
  },
  "security": [
    {
      "bearerAuth": [],
      "tenantHeader": []
    }
  ]
}